{% assign bundle = product.metafields.description.product_bundle_composition.value %}

<div class="item__wrapper">
    <div class="panal">
      <!-- Check if 'bundle' variable is not blank -->
      {% if bundle != empty %}
        <div class="rich-text-lists item-1">
          <!-- Loop over each 'bundle variant' in the 'bundle' -->
          {% for bundle_variant in bundle %}
            <div class="lists-wrapper rich-text-upper">
              <!-- Display the heading of the bundle_variant -->
              <p><strong class="l-title">{{ bundle_variant.heading }}</strong></p>
              <ul class="l-content">
                <!-- Loop over each 'product' in the 'bundle_variant.products.value' -->
                {% for product in bundle_variant.products.value %}
                  <!-- Assign the product from 'all_products' collection using the product's product identifier -->
                  {% assign p = all_products[product.product] %}
                  <li>
                    <!-- Create a link to the product's page with the product title as the link text -->
                    {{ p.title | link_to: p.url }}
                    <!-- Display additional note for the product -->
                    {{ product.note }}
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>

{% style %}
    .rich-text-upper {
      padding: 0!important;
    }
  
    .l-content {
      color: #000000;
    }
  
    .panal {
      overflow: hidden;
      transition: all .5s ease-out;
      max-height: fit-content;
    }
  
    .rich-text-lists {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      padding: 115px 165px 75px 165px;
    }
  
    .rich-text-lists .lists-wrapper {
      padding: 30px;
      position: relative;
    }
  
    .rich-text-lists .lists-wrapper ul {
      padding-left: 2rem;
      margin-bottom: .5rem;
    }
  
    .rich-text-lists .lists-wrapper ul li {
      list-style: disc;
      font-size: 16px;
    }
  
    .rich-text-lists p>strong {
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      max-width: 225px;
      display: block;
      color: #222222;
      font-family: "Graphik-Regular";
    }
  
    .rich-text-lists .lists-wrapper ul li a {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      text-decoration-line: underline;
      color: #FF4438;
    }
  
    .rich-text-lists .lists-wrapper ul li {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      position: relative;
      line-height: 28px;
      list-style: none;
      color: #6C6E73;
    }
  
    .rich-text-lists .lists-wrapper ul li:before,
    .rich-text-lists .lists-wrapper ul li:after {
      content: '';
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      background: #E9ECEE;
      border-radius: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .rich-text-lists .lists-wrapper ul li:after {
      width: 4px;
      height: 4px;
      background: black;
      left: -26px;
    }
  
    @media (max-width: 1250px) {
      .rich-text-lists {
        padding-right: 80px;
        padding-left: 80px;
      }
    }
  
    @media (max-width: 970px) {
      .rich-text-lists {
        padding-right: 30px;
        padding-left: 30px;
      }
    }
  
    @media(max-width:768px) {
      .item-1 {
        margin-bottom: 30px;
      }
  
      .rich-text-upper {
        padding: 20px!important;
      }
  
      .rich-text-lists h1 {
        font-size: 24px;
        line-height: 26px;
        text-align: left;
      }
  
      .panal {
        max-height: unset;
      }
  
      .rich-text-lists {
        flex-direction: column;
        padding: 0 16px;
      }
  
      .lists-wrapper {
        padding: 15px;
      }
  
      .rich-text-lists p>strong {
        font-size: 20px;
        line-height: 32px;
      }
  
      .lists-wrapper p:after,
      .lists-wrapper p.visible:after {
        content: url("{{ 'dropdown-arrow.svg' | asset_url }}");
        position: absolute;
        top: 27px;
        right: 10px;
      }
  
      .l-content.visible {
        display: block;
      }
    }
{% endstyle %}

{% javascript %}
    // Check if the window width is less than 749 pixels
    if ($(window).width() < 749) {
    // Select all paragraph elements within elements having class 'lists-wrapper'
    var titleTrigger = $('.lists-wrapper p');

    // Add a click event listener to each selected paragraph element
    titleTrigger.click(function (){
        // Toggles the visibility of the '.l-content' element within the closest '.lists-wrapper' parent
        // The toggle happens with a sliding animation over 250 milliseconds
        $(this).closest(".lists-wrapper").find('.l-content').slideToggle(250);

        // Check if the clicked paragraph has the class 'visible'
        if ($(this).hasClass('visible')){
        // If it does, remove the 'visible' class
        $(this).removeClass('visible');
        } else {
        // If it does not have the 'visible' class

        // Check if any other paragraph elements (excluding the current one) have the 'visible' class
        if ($('.lists-wrapper p').not(this).hasClass('visible')){
            // If they do, toggle their '.l-content' elements and remove their 'visible' class
            $('.lists-wrapper p.visible').not(this).closest(".lists-wrapper").find('.l-content').slideToggle(250);
            $('.lists-wrapper p').not(this).removeClass('visible');
        }
        // Add the 'visible' class to the clicked paragraph
        $(this).addClass('visible');
        }
    });
    }
{% endjavascript %}