{% comment %} Tab section with product features {% endcomment %}
{% assign features = product.metafields.description.produkt_feature.value %}

<div class="item__wrapper">
  <div class="panal">
    <div class="page-width product-section section-text-row">
        <div class="heading-container">
          {% for feature in features %}
          <script>
            console.loog("feature {{ feature }}")
          </script>
            <div class="table-row-numbers text-row">
              <div class="item title">
                <div class="svg">0{{ forloop.index }}</div>
                <h3>{{ feature.heading }}</h3>
              </div>
              <div class="item content">
                <p>{{ feature.description | metafield_tag }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}
  .heading-container, .heading-content{
    padding-left: 165px;
  }
  .text-row.heading .image img{
    border-radius: 8px;
    padding-right: 165px;
  }
  .table-row-numbers{
    border-top: 1px solid #E4E7E9;
    padding: 30px 0;
  }
  .image img{
    border-radius: 8px;
  }
  .heading-container h2{
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 28px;
  }
  .heading-container{
    font-size: 32px;
    line-height: 42px;
    padding-bottom: 32px;
    padding-left: 165px;
    padding-right: 165px;
  }
  .text-center header{
    padding-left: 165px;
  }
  .section-text-row.page-width.product-section{
    max-width: 100%!important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .text-row.heading{
    align-items: center;
    margin-bottom: 140px;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  .text-row.heading .image{
    max-width: 50%;
  }
  .image img{
    width: 100%;
  }
  .section-text-row .section-label{
    font-size: 14px;
    line-height: 24px;
    color: #6C6E73;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 14px;
    font-weight: 400;
  }
  .heading-content h2{
    font-size: 32px;
    line-height: 42px;
    color: #222222;
  }
  .heading-content p{
    font-size: 16px;
    line-height: 28px;
    color: #6C6E73;
  }
  .heading-content{
    margin-right: 80px;
    width: 50%;
  }
  .text-row{
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .text-row .item p{
    font-size: 16px;
    line-height: 28px;
    color: #6C6E73;
    padding-left: 20px;
  }
  .text-row .item p a{
    color: #FF4438;
  }
  .text-row .item p strong{
    font-family: 'Graphik-Medium';
  }
  .text-row .item .svg{
    width: 64px;
    height: 64px;
    background-color: #FFF2F0;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Graphik-Regular';
    border-radius: 100%;
    color: #FF4438;
    flex-shrink: 0;
  }
  .text-row .item h3{
    font-size: 24px;
    line-height: 36px;
    color: #222222;
    font-weight: 400;
    margin: 0 0 0 20px;
  }
  .text-row:last-of-type{
    padding-bottom: 20px;
  }
  .text-row .item.title{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
  }
  .text-row .item.content{
    width: 50%;
  }
  .text-row .item div{
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    .section-text-row .heading-content .section-label{
      display: none;
    }
  }
  @media (max-width: 1250px) {
    .heading-container, .heading-content{
      padding-left: 80px;
    }
    .text-row.heading .image img{
      padding-right: 80px;
    }
    .heading-container{
      padding-right: 80px;
    }
  }
  @media (max-width: 1110px) {
    .text-row.heading .image img{
      max-width: 100%;
    }
    .text-row .item.content {
      min-width: unset;
    }
    .text-row .item h3{
      max-width: unset;
      margin-right: 15px;
    }
  }
  @media (max-width: 970px) {
    .heading-container{
      padding-right: 30px;
    }
    .heading-container, .heading-content{
      padding-left: 30px;
    }
    .text-row.heading .image img{
      padding-right: 30px;
    }
  }
  @media (max-width: 768px) {
    .heading-container{
      padding-right: 16px;
    }
    .section-cards .header h2{
      margin-right: 50px;
    }
    .heading-container{
      padding-bottom: 0;
    }
    .text-row .item.content{
      width: 100%;
      margin-top: 24px;
    }
    .text-row .item p{
      padding-left: 0;
    }
    .text-row.heading{
      padding-bottom: 0;
    }
    .heading-container h2{
      display: none;
    }
    .text-row.heading .image img{
      width: 100%;
      padding: 0;
      border-radius: 0;
    }
    .heading-container, .heading-content{
      padding-left: 16px;
      padding-right: 16px;
      width: 100%;
    }
    .heading-content h2{
      font-size: 24px;
      line-height: 36px;
    }
    .text-row .item p{
      line-height: 32px;
    }
    .text-row.heading .image{
      max-width: 100%;
    }
    .text-row.heading{
      flex-direction: column-reverse;
      margin-bottom: 0;
    }
    .heading-content{
      margin: 0 auto;
      text-align: left;
      padding-bottom: 25px;
    }
    .text-row.heading .image{
      margin-left: -32px;
      margin-right: -32px;
      margin-bottom: 40px;
    }
    .section-text-row .section-label{
      font-size: 14px;
      line-height: 24px;
      color: #8B9093;
      margin-bottom: 16px;
    }
    .heading-content h3{
      font-size: 28px;
      line-height: 44px;
      margin-bottom: 0;
    }
    .text-row .item .svg{
      width: 56px;
      height: 56px;
      min-width: unset;
      min-height: unset;
      padding: 18px 16px;
    }
    .text-row .item h3 {
      font-size: 20px;
      line-height: 32px;
    }
    .text-row .item.content {
      font-size: 16px;
      line-height: 32px;
    }
  }
  @media (max-width: 749px) {
    .text-row{
      flex-direction: column;
      padding: 16px 0 32px 0;
    }
    .text-row:last-of-type {
      padding-bottom: 35px;
    }
    .text-row .item.title{
      width: 100%;
      max-width: 100%;
      position: relative;
      margin-bottom: 0;
    }
    .text-row .item h3{
      margin-left: 16px;
      margin-right: 18px;
    }
    @media (max-width: 480px) {
      .text-row .item h3{
        max-width: 195px;
      }
    }
  }
{% endstyle %}
